
import(qtbase)

useDynLib(bocra, .registration = TRUE)

export(read.qimage, qimage2matrix)

export(identifyGaps, identifyWords, saveWords)

export(deleteMatraPosition, removeMatra)

export(dimage)


